<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>SmartPill</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{ time | date: 'dd/MM/yyyy' }}</ion-card-subtitle>
      <ion-card-title style="text-align: center; font-size: 500%">
        {{ time | date: 'HH:mm' }}
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Próxima toma...</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-icon name="sunny" slot="start"></ion-icon>
        <ion-label>Ibuprofeno + Paracetamol</ion-label>
      </ion-item>
      12:30h
      
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información paciente</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://ionicframework.com/docs/demos/api/list/avatar-poe.png">
        </ion-avatar>
        <ion-label>
          <h2>Carlos Gutierrez</h2>
          <h3>Esclerosis multiple</h3>
          <p>No le gusta que le molesten</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
