<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>SmartPill</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{ time | date: 'dd/MM/yyyy' }}</ion-card-subtitle>
      <ion-card-title style="text-align: center; font-size: 500%">
        {{ time | date: 'HH:mm' }}
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Next intake</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-icon name="sunny" slot="start"></ion-icon>
        <ion-label>Bisoprolol, Sintrom</ion-label>
      </ion-item>
      
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Patient information</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-avatar slot="start">
          <img src="/assets/patients/john_stewart.jpg">
        </ion-avatar>
        <ion-label>
          <h2>John Stewart</h2>
          <h3>Senile dementia</h3>
          <p>Sometimes forget to take the pills</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
