<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="page-config"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ editing ? 'Update': 'Create New'}} Deposit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col size-md="6" offset-md="3">
      <ion-card class="ion-padding">
        <ion-card-header>
          {{editing? 
          'Update Your':
          'Create your'
          }} Deposit
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label position="floating">nº Deposit: </ion-label>
            <ion-select [(ngModel)]="post.deposit"  cancelText="Cancel" okText="Submit">
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
              <ion-select-option value="4">4</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Pill name: </ion-label>
            <ion-input [(ngModel)]="post.pill"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Weight: </ion-label>
            <ion-textarea [(ngModel)]="post.weight"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Click here to pick time of day.</ion-label>
            <ion-select [(ngModel)]="time" (ionChange)="onChange()" multiple="true" cancelText="Cancel" okText="Submit">
              <ion-select-option value="morning">Morning</ion-select-option>
              <ion-select-option value="afternoon">Afternoon</ion-select-option>
              <ion-select-option value="night">Night</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-button expand="full" (click)="editing? updatePost(): savePost()" class="ion-margin-top">
            {{editing ? 'Update': 'Submit'}}
          </ion-button>
        </ion-card-content>

      </ion-card>

    </ion-col>
  </ion-row>


</ion-content>

<!--
  <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Edit pill</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Deposito 1</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list lines="full" class="ion-no-margin">
        <ion-list-header lines="full">
        </ion-list-header>
        <ion-item>
          <ion-label>Nombre pastilla:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Peso:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Marca:</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-list>
      <ion-button routerLink="/page-config" color="danger">Cancel</ion-button>
      <ion-button color="success">Submit</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
-->