<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-row>
  <ion-col size="12" sizeMd="5" *ngFor="let log of log">
    <ion-card>
      <ion-card-content>
      <div>
        <ion-item>
          <ion-icon *ngIf="log.time == 'morning'" name="sunny" slot="start"></ion-icon>
          <ion-icon *ngIf="log.time == 'afternoon'" name="pizza" slot="start"></ion-icon>
          <ion-icon *ngIf="log.time == 'night'" name="moon" slot="start"></ion-icon>
        <ion-label>
          <h2>Pill dispensed at {{ log.date | date: 'HH:mm' }} of {{ log.date | date: 'dd/MM/yyyy' }}</h2>
          <h2>Patient: {{log.patient_name}}</h2>
          <h2>Pills dispensed: {{log.pills}}</h2>
        </ion-label>
      </ion-item>
    </div>
    </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>

</ion-content>