<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Configurar toma</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-header>
    <ion-icon name="sunny" slot="start"></ion-icon>
    <ion-label>Ibuprofeno - Mañanas</ion-label>
  </ion-card-header>
  <ion-card>
    <ion-item>
      <ion-icon name="sunny" slot="start"></ion-icon>
      <ion-label>Ibuprofeno - Mañanas</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Lunes</ion-label>
      <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Martes</ion-label>
      <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Miercoles</ion-label>
      <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Jueves</ion-label>
      <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Viernes</ion-label>
      <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Sábado</ion-label>
      <ion-checkbox color="primary" slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Domingo</ion-label>
      <ion-checkbox color="primary" slot="start"></ion-checkbox>
    </ion-item>
    <ion-button routerLink="/page-config" color="danger">Cancel</ion-button>
    <ion-button color="success">Submit</ion-button>
  </ion-card>
</ion-content>
