<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card-header>
  <ion-card-title>
    Input your user and password:
  </ion-card-title>
</ion-card-header>

<ion-card-content>
  <ion-item>
    <ion-input placeholder="Username"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-input placeholder="Password" type="password"></ion-input>
  </ion-item>
  <br>
  <ion-button (click)="logMeIn()">Log in</ion-button>
</ion-card-content>
</ion-content>
